@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar{
display:none;
}
.no-scrollbar{
    -ms-overflow-style:none;
    scrollbar-width:none;
}
@media (max-width: 768px) {
    .restocard {
        /* Adjust any necessary styles for mobile view */
        display: block;
        /* Optional styling to ensure visibility */
    }
}
